/* You can add global styles to this file, and also import other style files */

html,body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(71deg, #FEAF00 19.35%, #F8D442 90.12%); */
    overflow: hidden;
}

@import '~ngx-toastr/toastr';



